
/* Logo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --bg-body: #e9ebed;
    --primary-color: #F8C935;
    --secondary-color: #545459;
    --white-color: #fff;
    --black-color: #000;
    --pdf-color: #dc3545;
    --excel-color: #28a745;
}

*{
    font-family: 'Noto Sans', Courier, monospace;
    font-size: 14px;
    font-weight: 400;
}



body {
    background-color: var(--bg-body);
    height: 100vh;
}


.logo {
    height: 40px;
    width: auto;
}
.navbar
{
    background-color: var(--white-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
    width: 100%;
    height: 10vh;
    position: fixed !important;
}
/* Navbar responsiveness */
.navbar-toggler {
    border: none;
}
.nav-link
{
    color: var(--black-color);
    font-weight: 200;

}
.nav-link:hover
{
    color: var(--primary-color);
    font-weight: 400;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 4.5A.5.5 0 0 1 3 4h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0 3A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0 3A.5.5 0 0 1 3 10h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>');
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-x" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
}

/* Center user initials and bell icons */
.user-initials, .bi-bell-fill, .bi-gear {
    font-size: 1.2rem;
}

.dropdown-menu {
    border-radius: 0.25rem;
}

footer {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: var(--secondary-color);
}
footer p{
    color: var(--white-color);
    font-weight: 200;
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}
/* Animación de la opción activa */
.nav-link.active {
    position: relative;
    color: var(--primary-color); /* Cambiar color del enlace activo */
}

.nav-link.active::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: var(--primary-color);
    animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 5px 0;
    }
}
